ecg-plot==0.2.8
wfdb
mne==0.20.7
cycler==0.10.0
pytz==2019.3
matplotlib
sklearn==0.0
requests==2.23.0
pandas
six==1.14.0
kiwisolver==1.2.0
nose==1.3.7
joblib==0.14.1
scikit-learn
threadpoolctl==2.1.0
urllib3==1.24.3
pyparsing==2.4.7
scipy
certifi==2020.6.20
chardet==3.0.4
numpy
idna==2.9
python-dateutil==2.8.1
seaborn
tensorflow==2.8.0
keras==2.8.0
lime
shap<=0.42.1
timeshap
plotly
pydot